@font-face {
  font-family: "SF UI Display";
  src: local('SF UI Display Regular'), local('SFUIDisplay-Medium'),
    url('~static/fonts/sf/SFUIDisplay-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  font-family: 'SF UI Display', sans-serif;
}

#card {
  width: 100%;
  aspect-ratio: 3 / 2;
  display: block;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#loading .overlay {
  width: 100%;
  aspect-ratio: 1.5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(10px);
}

#loading .overlay img {
  position: absolute;
  width: 85%;
  aspect-ratio: 1.5;
}

#loading .progress {
  width: 80vw;
  margin: 1.5em;
  padding: 10px 20px;
  border-radius: 300px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#loading .bar {
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}

#loading .progressbar {
  position: relative;
  height: 5px;
  border-radius: 300px;
  background-color: #3D9A73;
  transform-origin: top left;
  transform: scaleX(0);
  transition: all .2s linear;
  perspective: 1px;
}

#loading .progressbar-overlay {
  width: 100%;
  max-width: inherit;
  height: 2px;
  border-radius: 300px;
  background-color: #AAB3B9;
  position: absolute;
  transform: translateY(1.5px);
}

#loading .percent {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}